#search {
    width: 15rem;
    min-width: 15rem;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex-wrap: unset;
}


.logo {
    background-image: url(https://i.imgur.com/nOmDAhM.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: left;
}

.logo h1, .logo h3 {
  text-align: right;
}

.searchBar {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
}

.searchBar:focus {
    border: 1px solid #fd889d;
}

.searchResults {
    height: 100%;
    overflow: auto;
}

.searchResults li:hover {
    background-color: lightgray;
}

.searchResults li {
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

