@import "search.css";
@import "details.css";

:root {
    --body-pink: #fba0b1;
}

ul {
    padding: 0;
    list-style: none;
    overflow: overlay;
}

body, html, #root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
}

p, h1, h2, h3, ul, li {
    margin: 0;
    font-family: sans-serif;
}

input:focus {
    border: 1px solid gray;
}

.header {
  min-height: 10rem;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  justify-content: flex-end;
}

.header h1 {
  color: #fd889d;
  font-size: 2em;
}

.header h3 {
  font-family: cursive;
  font-size: 1.5em;
}

#loadModal {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  z-index: 10;
}

#loadModal div {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 11;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position: bottom;
  width: 50%;
  background-image: url(https://media0.giphy.com/media/l3nWhI38IWDofyDrW/giphy.gif?cid=ecf05e4705rr24kjk3h54uor09sie9yr0p0yy5t16iu6j40b&rid=giphy.gif);
}

.hidden {
  display: none !important;
}

.errors {
  position: fixed;
  margin: 25%;
  color: var(--body-pink);
  z-index: 20;
}